[submodule "cmake/clang"]
	path = cmake/clang
	url = https://github.com/Xaymar/cmake-clang.git
[submodule "third-party/libzip"]
	path = third-party/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "third-party/zlib-ng"]
	path = third-party/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng
